.flexGridHeader {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: #0080FF;
}

.flexGridHeader-item {
	flex: 1;
}

.flexGridHeader-item:nth-child(1) {
	flex: 0 0 10%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.mui-card {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0.625rem 0rem;
}

.mui-card font{
	color: red;
	margin-top: 0.3125rem;
	margin-left: 0.1875rem;
}

.flexGridHeader-item:nth-child(3) {
	flex: 0 0 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mui-search {
	margin-top: 0rem;
}

.flexGridTitle {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2.75rem;
}

.flexGridTitle-item {
	color: #FFFFFF;
	font-size: 1.2rem;
}




.mui-scroll-wrapper.mui-control-content.tab {
	position: absolute;
	margin-top: 145px;
	display: none;
}

.mui-scroll-wrapper.mui-control-content.tab.mui-active {
	display: block;
}

.ex-job-listname {
	font-size: 13px;
	color: #6D6D72;
	width: auto;
	float: left;
}

.ex-job-listvalue {
	font-size: 13px;
	color: #333333;
	width: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}

.flexGrid {
	display: flex;
	flex: 0 0 100%;
	justify-content: flex-start;
	align-items: center;
}

.flexGrid-item {
	flex: 1;
}

.flexGrid-item:nth-child(1) {
	flex: 0 0 15%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img_bg {
	width: 2.5rem;
	height: 2.5rem;
	background-color: #E0E0E0;
}

img, a img {
	border: 0;
	margin: 0;
	padding: 0;
	max-width: 2.5rem;
	width: expression(this.width>40?"2.5rem":this.width);
	max-height: 2.5rem;
	height: expression(this.height>40?"2.5rem":this.height);
}

.zryt {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.CN_TITLE {
	margin-top: 0.625rem;
	width: 90%;
	text-align: center;
	font-size: 1.125rem;
	font-weight: bold;
	color: #000000;
}

.CN_SUB_TITLE {
	margin-top: 0.625rem;
	width: 95%;
	text-align: left;
	font-size: 0.875rem;
	color: #ff6600;
}

.mui-checkbox.mui-left input[type=checkbox], .mui-radio.mui-left input[type=radio] {
	top: 0rem;
    left: 0.625rem;
}

.mui-checkbox.mui-left label, .mui-radio.mui-left label {
    padding-right: 0.625rem;
    padding-left: 2.8125rem;
}

