<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../css/common/mui.min.css" rel="stylesheet" />
		<link href="../../../css/common/mui.picker.min.css" rel="stylesheet" />
		<link href="../../../css/common/mui.poppicker.css" rel="stylesheet" />
		<link href="../../../css/common/mui-show-loading.css" rel="stylesheet" />
		<link href="../../../css/common/common.css" rel="stylesheet" />
		<link href="../../../css/common/common-ex.css" rel="stylesheet" /> 
		<link href="../../../css/common/iconfont.css" rel="stylesheet" />
		<link href="cxybdj.css" rel="stylesheet"/>
	</head>
	<body>
		
			<header class="mui-bar mui-bar-nav ex-title-bar">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">被代缴人员信息</h1>
			</header>
			<div id="app" >
			<div class="mui-content">
				<div class="mui-scroll-wrapper">
					<div id="scrollin" class="mui-scroll">
						<button type="button" class="mui-btn mui-btn-warning mui-btn-outlined addDjry" @tap="addDjry()">
							添加人员
						</button>
						<button type="button" class="mui-btn mui-btn-warning mui-btn-outlined" @tap="delDjry()">
							删除人员
						</button>
						<template v-for="(item,index) in cxjgGrid">
						<div class="mui-card" :class="active.indexOf(index)!=-1?'mui_Card_Class':''">
							<form class="mui-input-group">
									<div class="mui-input-row mui-checkbox mui-right ry">
										<!-- <label>checked：false</label> -->
										<label>
											<div class="paylineBox">
												<div class="payLine">
														<span class="plName">身份证号</span>
														<span class="plInfo">{{item.sfzjhm}}</span>
												</div>
												<div class="payLine">
													<span class="plName">姓名</span>
													<span class="plInfo">{{item.xm}}</span>
												</div>
												<div class="payLine">
													<span class="plName">社保机构</span>
													<span class="plInfo">{{item.jbjg}}</span>
												</div>
												<div class="payLine">
													<span class="plName">社保号</span>
													<span class="plInfo">{{item.sbh}}</span>
												</div> 
												<!-- <div class="payLine">
													<span class="plName">所属期</span>
													<span class="plInfo" :id="'ssq'+item.sfzjhm"></span>
												</div>
												<div class="payLine">
													<span class="plName">缴费状态</span>
													<span class="plInfo" :id="'jfzt'+item.sfzjhm"></span>
												</div>
												<div class="payLine">
													<span class="plName">核定单号</span>
													<span class="plInfo" :id="'hddh'+item.sfzjhm"></span>
													</div>
												<div class="payLine je">
													<span class="plName">缴费金额</span>
													<span class="plInfo" :id="'je'+item.sfzjhm">0.00</span>
												</div>
												<button type="button" data-loading-text="提取中" class="mui-btn mui-btn-success mui-btn-outlined" @click="tqhd()" style="font-size: 13px;">
												   <span class="mui-icon mui-icon mui-icon-redo">提核定</span>
												</button>
												<button type="button" data-loading-text="操作中" class="mui-btn mui-btn-danger mui-btn-outlined" @click="delDjry(item.id)" style="font-size: 13px;">
												   <span class="mui-icon mui-icon mui-icon-trash">删除</span>
												</button> -->
											</div>
										</label>
										<input name="checkbox" :value="item" v-model="checkCxjgGrid" type="checkbox" >
							</div>
							</form>
						
						<!-- 	<div class="mui-card-content">
								<div class="mui-card-content-inner"> -->
									<!-- <div class="payHead">
										<div class="phNum">核定订号<span :id="'hddh'+item.sfzjhm">--</span></div>
										<div class="mui-input-row mui-checkbox">
											<input name="radio" :id="'radio'+item.accountOrderNo"  :value="item" v-model="checkCxjgGrid" type="checkbox" @tap="check(index)">
										</div>
									</div>
									<div class="payMoney">
										<b>¥</b><span :id="'je'+item.sfzjhm">0.00</span>
										<button type="button" data-loading-text="提取中" class="mui-btn mui-btn-success mui-btn-outlined" @click="tqhd()" style="font-size: 13px;"> 
										   <span class="mui-icon mui-icon mui-icon-redo">提核定</span>
										</button>
										<button type="button" data-loading-text="操作中" class="mui-btn mui-btn-danger mui-btn-outlined" @click="delDjry(item.id)" style="font-size: 13px;">
										   <span class="mui-icon mui-icon mui-icon-trash">删除</span>
										</button>
									</div> -->
									<!-- <input name="radio1" value="Item 3" type="radio" > -->
									<!-- <input name="checkbox1" :id="'radio'+item.accountOrderNo"  :value="item" v-model="checkCxjgGrid" type="checkbox" @tap="check(index)">
									<div class="paylineBox"> -->
										<!-- <div class="mui-input-row mui-checkbox"> -->
											
										<!-- </div> -->
										<!-- <div class="payLine">
											<span class="plName">身份证号</span>
											<span class="plInfo">{{item.sfzjhm}}</span>
										</div>
										<div class="payLine">
											<span class="plName">姓名</span>
											<span class="plInfo">{{item.xm}}</span>
										</div>
										<div class="payLine">
											<span class="plName">社保机构</span>
											<span class="plInfo">{{item.jbjg}}</span>
										</div>
										<div class="payLine">
											<span class="plName">社保号</span>
											<span class="plInfo">{{item.sbh}}</span>
										</div> -->
										<!-- <div class="payLine">
											<span class="plName">所属期</span>
											<span class="plInfo" :id="'ssq'+item.sfzjhm">--</span>
										</div>
										<div class="payLine">
											<span class="plName">缴费状态</span>
											<span class="plInfo" :id="'jfzt'+item.sfzjhm">--</span>
										</div> -->
									</div>
								<!-- </div> -->
							<!-- </div>
						</div> -->
					</template>
					
				</div>
				<div class="submitBtn">
					<button type="button" class="mui-btn mui-btn-block mui-btn-primary"@tap="tqhd()" >下一步</button>
				</div>
			</div>
			

			<!-- 弹窗区域 -->
			<div id="popover" class="mui-popover mui_dj_popover">
				<div class="addTitle">
					 <label>新增代缴人员</label>
				</div>
				<form class="mui-input-group addry">
				    <div class="mui-input-row">
				        <label>
							<span style="color: red;">*</span>姓名
						</label>
				    <input type="text" id="userName" class="mui-input-clear" placeholder="请输入用户名">
				    </div>
				    <div class="mui-input-row">
				        <label><span style="color: red;">*</span>身份证</label>
				        <input type="text" class="mui-input-clear" id="idCard" placeholder="请输入身份证">
				    </div>
					<div class="mui-input-row">
					    <label><span style="color: red;">*</span>证件类型</label>
					    <input type="text" id="cardType"   @tap="choose()" v-model="cardType" Readonly>
					</div>
				    <div class="mui-button-row">
				        <button type="button" class="mui-btn mui-btn-primary" @click="submitDdry()">保存</button>
				    </div>
				</form>
			</div>
			<!-- 弹窗区域 -->
			<div id="popover2" class="mui-popover mui_dj_popover">
				<div class="mui-popup mui-popup-in successBox">
					<div class="mui-popup-inner">
					<div class="sucTip1">订单信息</div>
					<div class="sucTip2">您的预缴付申报税订单详情如下</div>
					<template v-for="(item,index) in checkCxjgGrid"> 
						<div class="paylineBox">
							<div class="payLine">
								<span class="plName">申报日期</span>
								<span class="plInfo">2018/07/12</span>
							</div>
							<div class="payLine">
								<span class="plName">所属日期</span>
								<span class="plInfo">2018/07/12</span>
							</div>
							<div class="payLine">
								<span class="plName">金额</span>
								<span class="plInfo amount">5800.00元</span>
							</div>
						</div>
					</template>
					<button type="button" class="mui-btn mui-btn-success mui-btn-block">确定缴费</button>
				</div>
				</div>
			</div>
		</div>
		</div>
		
		<script src="../../../js/common/jquery-1.11.1.min.js"></script>
		<script src="../../../js/common/mui.min.js"></script>
		<script src="../../../js/common/mui.picker.min.js"></script>
		<script src="../../../js/common/mui.poppicker.js"></script>
		<script src="../../../js/common/mui.showLoading.js"></script>
		<script src="../../../js/common/baseUtils.js"></script>
		<script src="../../../js/common/crypto-js-aes-min.js"></script>
		<script src="../../../js/common/vue.min.js"></script>
		<script src="../../../js/common/common.js"></script>
		<script src="../../../js/common/iconfont.js"></script>
		<script src="cxybdj.js"></script>
		<script>
			//创建vue对象
			var vm = new Vue({
			  el: '#app',
			  //数据绑定
			  data() {
				return{
					//选中列表数据
					checkCxjgGrid:[],
					//激活样式列表数据
					active:[],
					//循环列表数据
					cxjgGrid:[],
					cardType:'——请选择证件类型——',
					cardType_value:''
				}
			  }
			})
			
			mui.init();
			
			mui('.mui-scroll-wrapper').scroll({
				scrollY: true, //是否竖向滚动
				scrollX: false, //是否横向滚动
				startX: 0, //初始化时滚动至x
				startY: 0, //初始化时滚动至y
				indicators: true, //是否显示滚动条
				deceleration:0.0006, //阻尼系数,系数越小滑动越灵敏
				bounce: true //是否启用回弹
			});
			
			mui.plusReady(function() {
				var webview = plus.webview.currentWebview();
				pageUtils.setStatusbar()
				pageUtils.back()
			});
			pageload(vm) 
		</script>
		
	</body>
</html>
