.mui-content{
	background: url(../../images/bg2@2x.png) no-repeat;
	height: 160px;
}
.mui-content .title{
	height: 120px;
	text-align: center;
	line-height: 120px;
	font-size: 25px;
	color: #ffffff;
}
.mui-card{
	margin-bottom: 15px;
}
.mui-table-view-cell{
	position: relative;
	height: 90px;
	line-height: 90px;
	padding: 0px 15px;
}
.mui-table-view-cell>a:not(.mui-btn){
	margin: 0px;
}

img{
	position: absolute;
	height: 40px;
	width: 40px;
	top: 20px;
}
.mui-table-view-cell span{
	margin-left: 70px;
	font-size: 18px;
}