<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../css/common/mui.min.css" rel="stylesheet" />
		<link href="../../../css/common/mui.picker.min.css" rel="stylesheet" />
		<link href="../../../css/common/mui.poppicker.css" rel="stylesheet" />
		<link href="../../../css/common/mui-show-loading.css" rel="stylesheet" />
		<link href="../../../css/common/common.css" rel="stylesheet" />
		<link href="../../../css/common/common-ex.css" rel="stylesheet" />
		<link href="../cxyldj/cxyldj.css" rel="stylesheet" />
		<link href="../../../css/common/buss.css" rel="stylesheet" />
	</head>
	<body>
		<div id="app">
		<header class="mui-bar mui-bar-nav ex-title-bar">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<button id="saveBtn" type="button" class="mui-btn mui-btn-link mui-pull-right"></button>
			<h1 class="mui-title">城乡居民养老</h1>
		</header>
		
		<div class="mui-content" >
			<div class="mui-content" id="cxjgGridList">
				<ul class="mui-table-view">
							<li class="mui-table-view-cell" >
								<!-- <a class="mui-navigate-right"> -->
									<!-- <div class="mui-input-row"> -->
										<span class="plName">缴费名称</span>
										<span class="plInfo">{{zspmmc}}</span>
									<!-- </div> -->
							</li>
							<li class="mui-table-view-cell" >
								<!-- <div class="mui-input-row jflx"> -->
									<span class="plName">缴费日期</span>
									<span class="plInfo">{{date}}</span>
								<!-- </div> -->
							</li>
							<li class="mui-table-view-cell" @tap='chooseDc()'>
								<!-- <div class="mui-input-row jflx"> -->
									<span class="plName">缴费档次</span>
									<span class="plInfo"  id="jfdc" name="jfdc">{{jfdc}}</span>
								<!-- </div> -->
							</li>
							<li class="mui-table-view-cell" v-show="jflx_value == '1'" >
								<!-- <div class="mui-input-row jflx"> -->
									<span class="plName">补缴类型</span>
									<span class="plInfo" @tap='chooseBj()' id="bjlx" name="bjlx">{{bjlx}}</span>
								<!-- </div> -->
							</li>
							<li class="mui-table-view-cell" v-show="jflx_value == '1'">
								<!-- <div class="mui-input-row jflx"> -->
									<span class="plName">补缴年数</span>
									<span class="plInfo"  @tap='chooseBjns()' id="bjns" name="bjns">{{bjns}}</span>
								<!-- </div> -->
							</li>
						</ul>
					<!-- <div class="mui-input-row mylable">
						<label>缴费名称：{{zspmmc}}</label>
					</div>
					<div class="mui-input-row mylable">
						<label>缴费日期：{{date}}</label>
					</div>
						选择档次
					<div class="mui-input-row">
						<label>缴费档次：</label>
						<div class="mydiv"  @tap='chooseDc()' id="jfdc" name="jfdc">{{jfdc}}</div>
					</div>
						选择补缴类型
					<div class="mui-input-row " v-show="jflx_value == '1'">
						<label>补缴类型：</label>
						<div class="mydiv"  @tap='chooseBj()' id="bjlx" name="bjlx">{{bjlx}}</div>
					</div>
						选择补缴年数
					<div class="mui-input-row " v-show="jflx_value == '1'">
						<label>补缴年数：</label>
					    <div class="mydiv"  @tap='chooseBjns()' id="bjns" name="bjns">{{bjns}}</div>
					</div> -->
			</div>
		</div>
		<div class="submitBtn">
			<button type="button" class="mui-btn mui-btn-block mui-btn-primary" @tap="jk()" >缴款</button>
		</div>
		<div id="jk" class="mui-popover mui-popover-action mui-popover-bottom">
			
			<div class="mui-card">
				<h5 class="mui-content-padded">请选择付款方式</h5>
				<form class="mui-input-group">
					<div class="mui-input-row mui-radio">
						<label>
							<svg class="icon" aria-hidden="true">
							  <use xlink:href="#icon-tubiao-"></use>
							</svg>
							<span class="zffs">云闪付</span>
							<span class="rkfs">快捷支付</span>
						</label>
						<input name="radio1" value="dsfunion" type="radio" v-model="radioValue">
					</div>
					<div class="mui-input-row mui-radio">
						<label>
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-umidd17"></use>
							</svg>
							<span class="zffs">支付宝</span>
							<span class="rkfs">直达国库</span>
						</label>
						<input name="radio1" value="dsfali" type="radio" v-model="radioValue">
					</div>
					<div class="mui-input-row mui-radio">
						<label>
							<svg class="icon" aria-hidden="true">
							  <use xlink:href="#icon-umidd17"></use>
							</svg>
							<span class="zffs">支付宝</span>
							<span class="rkfs">快捷支付</span>
						</label>
						<input name="radio1" value="aliPayQuick" type="radio" v-model="radioValue">
					</div>
					<div class="mui-input-row mui-radio">
						<label>
							<svg class="icon" aria-hidden="true">
							  <use xlink:href="#icon-weixinzhifu2"></use>
							</svg>
							<span class="zffs">微信</span>
							<span class="rkfs">直达国库</span>
						</label>
						<input name="radio1" value="dsfwx" type="radio" v-model="radioValue">
					</div>
					<div class="mui-input-row mui-radio">
						<label>
							<svg class="icon" aria-hidden="true">
							  <use xlink:href="#icon-weixinzhifu2"></use>
							</svg>
							<span class="zffs">微信</span>
							<span class="rkfs">快捷支付</span>
						</label>
						<input name="radio1" value="wechatPayQuick" type="radio" v-model="radioValue">
						
					</div>
					<!-- <div class="mui-input-row mui-checkbox mui-disabled">
						<label>disabled checkbox</label>
						<input name="checkbox1" type="checkbox" disabled="disabled">
					</div> -->
				</form>
				<!-- <div class="mui-card-content fkze" >
					<h5 class="mui-content-padded xyfk">需要付款
					<span class="fkje">
						<svg class="icon fkje" aria-hidden="true">
						  <use xlink:href="#icon-renminbi"></use>
						</svg>
						2000000.00
					</span>
					</h5>
				</div> -->
				<div class="submitBtn">
					<button type="button" class="mui-btn mui-btn-block mui-btn-primary" @tap="gotoJk()">确认缴款</button>
				</div>
			</div>
		</div>
		</div>
		
		
		
		<script src="../../../js/common/jquery-1.11.1.min.js"></script>
		<script src="../../../js/common/mui.min.js"></script>
		<script src="../../../js/common/mui.picker.min.js"></script>
		<script src="../../../js/common/mui.poppicker.js"></script>
		<script src="../../../js/common/mui.showLoading.js"></script>
		<script src="../../../js/common/baseUtils.js"></script>
		<script src="../../../js/common/crypto-js-aes-min.js"></script>
		<script src="../../../js/common/common.js"></script>
		<script src="../../../js/common/payUtil.js"></script>
		<script src="../../../js/common/vue.min.js"></script>
		<script src="./cxylnext.js"></script>
		<script type="text/javascript">
			//初始化vue
			var vm = new Vue({
				el: '#app',
				data: {
					date:new Date().getFullYear()+'-01-01 至 '+ new Date().getFullYear()+'-12-31',
					sbh:'',
					jbjg_dm:'',
					//上一页的缴费类型
					jflx_value:'',
					cachekey:'',
					jfdc:"--请选择档次类型--",
					jfdc_value:"",
					bjlx:"--请选择补缴类型--",
					bjlx_value:"",
					bjns:"--请选择补缴年数--",
					bjnsArr:[],
					bjns_value:"",
					bjnd:'',
					zspmmc:"",
					//传过来的档次类型
					dcmc:[],
					//支付方式值
					radioValue:''
				}
			})
		
			mui.init();
			
			mui('.mui-scroll-wrapper').scroll({
				scrollY: true, //是否竖向滚动
				scrollX: false, //是否横向滚动
				startX: 0, //初始化时滚动至x
				startY: 0, //初始化时滚动至y
				indicators: true, //是否显示滚动条
				deceleration:0.0006, //阻尼系数,系数越小滑动越灵敏
				bounce: true //是否启用回弹
			});
			
			mui.plusReady(function() {
				var webview = plus.webview.currentWebview();
				
				//获取状态栏的高度
				var statusbarHeight = plus.navigator.getStatusbarHeight()
				console.log("statusbarHeight>>"+statusbarHeight)
				//header高度
				var headerHeight = $("header").height()
				console.log("headerHeight>>"+headerHeight)
				//header paddingTop高度
				$("header").css("paddingTop",statusbarHeight+"px")
				$("header").css("height",statusbarHeight+headerHeight)
				//预留高度
				var preHeight = 0
				var allHeight = statusbarHeight+headerHeight+preHeight
				//body paddingTop高度
				$("body").css("paddingTop",allHeight+"px")
				
				//获取上一页传过来的数据
				let cxjgGrid = webview.cxjgGrid
				vm.jflx_value = webview.jflx_value
				vm.cachekey = webview.cachekey
				
				// 0当期，1补缴
				console.log("上一页选择的缴费类型值>>>"+vm.jflx_value)
				
				let pzmx = cxjgGrid.pzmx
				vm.sbh = cxjgGrid.sbh
				vm.jbjg_dm = cxjgGrid.jbjg_dm
				vm.dcmc = pzmx[0].dcmc
				vm.zspmmc = pzmx[0].zspmmc
				
				pageload(vm)
			});
			
		</script>
	</body>

</html>
