body{padding-top: 44px; position: relative;}
.mui-bar-nav{box-shadow: none;}
.mui-bar-nav~.mui-content{padding-top: 0;}
.mui-content{width: 100%; height: 100%; position: relative;}
.regiBg{background: url(../../images/bg1@2x.png); background-size: cover;}
.regiHead{width: 100%; padding: 50px 0 20px; text-align: center;}
.rehName{color: #fff; font-size: 20px; font-weight: bold;}
.rehTip{margin-top: 10px; color: #fff; font-size: 13px;}

.loginBox{width: 90%; height: 100%; padding: 20px; padding-bottom: 50px; margin: 0 auto; background: #fff; border-radius: 10px 10px 0 0;}
.mui-input-group:before, .mui-input-group:after{content: none;}
.mui-input-row label {padding: 19px 0px; text-align: left;width: 24%;}
.mui-input-group input, .mui-input-group textarea{font-size: 14px;}
.mui-input-group .mui-input-row{height: 50px;}
input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea{height: 50px; text-align: left;}
.mui-input-group .mui-input-row.code{padding-right: 100px;}
.mui-input-group .mui-input-row.code:after{width: calc( 100% - 100px );}
.mui-input-group .mui-input-row.code label{width: 31%;}
.mui-input-group .mui-input-row.code label~input{width: 64%;}
.mui-input-row.code .mui-btn{width: 95px; height: 35px; line-height: 35px; padding: 0; margin: 0; margin-top: 10px; background: #fff; border: solid 1px #ddd; border-radius: 50px; text-align: center; position: absolute; top: 0; right: 0;}
.loginBtn{padding: 7px 0; margin-top: 40px;}

.successBox .mui-popup-inner{padding-top: 30px; padding-bottom: 30px; background: #fff;}
.successBox .mui-popup-inner .mui-btn{width: 70%; padding: 5px 0; margin: 30px auto 20px;}
.sucPic{width: 80px; margin-bottom: 20px;}
.sucTip1{font-size: 18px;}
.sucTip2{margin-top: 10px; color: #aaa;}
.sucTip3{color: #2f74e2; font-size: 15px;}
span{color: red;}
