body{padding-top: 135px; position: relative;}

.indexHeader{width: 100%; height: 160px; padding-top: 5px; background: url(../../images/bg2@2x.png) no-repeat; background-size: cover; position: absolute; top: 0; left: 0;}
.inhLogo{height: 60px; margin: 0 auto; margin-top: 20px;mmargin-bottom: 5px; display: block;}
.inhTitle{margin-top: -10px; color: #fff; font-size: 18px; text-align: center;}
.inhNum{padding-right: 25px; position: absolute; top: 10px; right: 10px;}
.inhNum img{width: 15px; padding-top: 25px;}
.inhNum .mui-badge{padding: 1px 5px; position: absolute; top: 20px; right: 0;}
.indexHeader .mui-search .mui-placeholder{line-height: 35px; text-align: center;}
.indexHeader .mui-search .mui-placeholder .mui-icon{margin-right: 5px;}
.indexHeader .mui-search input[type=search]{background: #fff;}

.mui-content{width: 100%; height: 100%; position: relative;top: 20px;}
.indexNav{padding: 0 10px; padding-top: 5px; background: #fff;}
.appPic{width: 30px; margin-top: 5px;}
.indexNav .mui-grid-view.mui-grid-9{background-color: #fff; border: 0;}
.indexNav .mui-grid-view.mui-grid-9 .mui-table-view-cell{padding: 2px 10px; border: 0;}
.indexNav .mui-grid-view.mui-grid-9 .mui-table-view-cell>a:not(.mui-btn){padding: 5px 0;}
.indexNav .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body{color: #555; font-size: 14px;}

.indexCarousel{width: 100%; height: 110px; padding: 10px; background: #fff;}
.indexCarousel .mui-slider{height: 100%;}
.indexCarousel .mui-slider-indicator{bottom: 5px;}
.indexCarousel .mui-slider-indicator .mui-indicator{width: 8px; height: 8px; background: #d7dad8; box-shadow: none;}
.indexCarousel .mui-slider-indicator .mui-active.mui-indicator{background: #f1a119;}

.indexBlock{margin-top: 10px;}
.indexBlock .mui-grid-view.mui-grid-9{background-color: #fff;}
.mui-grid-view.mui-grid-9 .mui-media{position: relative;}
.mui-grid-view.mui-grid-9 .mui-table-view-cell{padding: 10px 5px 10px 15px;}
.mui-col-xs-6 div.ibName{font-size: 15px; color: #333; font-weight: bold; display: block; text-align: left;}
.mui-col-xs-6 div.ibDes{height: 30px; line-height: 15px; margin-top: 5px; color: #aaa; font-size: 12px; white-space: normal; display: block; text-align: left; overflow: hidden;}
.ibPic{width: 45px; position: absolute; top: 11px; right: 5px;}
.indexBlock .mui-badge{padding: 2px 5px; margin-left: 5px; color: #fff; font-weight: normal; background: #fd5742; position: relative; top: -2px;}
.indexBlock .mui-grid-view.mui-grid-9 .mui-table-view-cell>a:not(.mui-btn){padding: 5px 0; padding-right: 60px;} 