<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../css/common/mui.min.css" rel="stylesheet" />
		<link href="../../../css/common/mui.picker.min.css" rel="stylesheet" />
		<link href="../../../css/common/mui.poppicker.css" rel="stylesheet" />
		<link href="../../../css/common/mui-show-loading.css" rel="stylesheet" />
		<link href="../../../css/common/common.css" rel="stylesheet" />
		<link href="../../../css/common/common-ex.css" rel="stylesheet" /> 
		<link href="cxybhd.css" rel="stylesheet"/>
	</head>
	<body>
		<div id="app" style="position: relative;width: 100%;height: 100%;">
			<header class="mui-bar mui-bar-nav ex-title-bar">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">申报缴税</h1>
			</header>
			<div class="mui-content" id="app">
				<div class="mui-scroll-wrapper">
					<div id="scrollin" class="mui-scroll">
						<!-- <div class="hotdeTip">
							<span class="tipLeft">请选择要进行缴费的核定单</span>
							<span class="mui-icon mui-icon-help" @tap="getHelp()"></span>
						</div> -->
					<template v-for="(item,index) in cxjgGrid">
						<div class="mui-card" :class="active.indexOf(index)!=-1?'mui_Card_Class':''">
							<div class="mui-card-content">
								<div class="mui-card-content-inner">
									<div class="payHead">
										<div class="phNum">核定订号<span :id="'hddh'+item.sfzjhm">{{item.hddh}}</span></div>
										<div class="mui-input-row mui-checkbox">
											<input name="radio" :id="'radio'+item.accountOrderNo"  :value="item" v-model="checkCxjgGrid" type="checkbox" @tap="check(index)">
										</div>
									</div>
									<div class="payMoney">
										<b>¥</b><span>{{item.je}}</span>
									</div>
									<div class="paylineBox">
										<div class="payLine">
											<span class="plName">身份证号</span>
											<span class="plInfo">{{item.sfzjhm}}</span>
										</div>
										<div class="payLine">
											<span class="plName">姓名</span>
											<span class="plInfo">{{item.xm}}</span>
										</div>
										<div class="payLine">
											<span class="plName">所属期</span>
											<span class="plInfo">{{item.ssq}}</span>
										</div>
										<div class="payLine">
											<span class="plName">缴费状态</span>
											<span class="plInfo">{{item.jfzt}}</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</template>
					</div>
				</div>
				<div class="mui-content-padded">
					<button type="button" class="mui-btn mui-btn-primary mui-btn-block" @tap="dj()">确定</button>
				</div>
			</div>
			
			
			
		</div>
		
		<script src="../../../js/common/jquery-1.11.1.min.js"></script>
		<script src="../../../js/common/mui.min.js"></script>
		<script src="../../../js/common/mui.picker.min.js"></script>
		<script src="../../../js/common/mui.poppicker.js"></script>
		<script src="../../../js/common/mui.showLoading.js"></script>
		<script src="../../../js/common/baseUtils.js"></script>
		<script src="../../../js/common/crypto-js-aes-min.js"></script>
		<script src="../../../js/common/vue.min.js"></script>
		<script src="../../../js/common/common.js"></script>
		<script src="cxybhd.js"></script>
		<script>
			//创建vue对象
			var vm = new Vue({
			  el: '#app',
			  //数据绑定
			  data() {
				return{
					//选中列表数据
					checkCxjgGrid:[],
					//激活样式列表数据
					active:[],
					//循环列表数据
					cxjgGrid:[]
				}
			  }
			})
			
			mui.init();
			
			mui('.mui-scroll-wrapper').scroll({
				scrollY: true, //是否竖向滚动
				scrollX: false, //是否横向滚动
				startX: 0, //初始化时滚动至x
				startY: 0, //初始化时滚动至y
				indicators: true, //是否显示滚动条
				deceleration:0.0006, //阻尼系数,系数越小滑动越灵敏
				bounce: true //是否启用回弹
			});
			
			mui.plusReady(function() {
				var webview = plus.webview.currentWebview();
				vm.cxjgGrid = webview.cxjgGrid
			});
			pageload(vm) 
		</script>
	</body>
</html>
