body{padding-top: 44px; position: relative;}

.mui-bar-nav{display: flex;}
.mui-search{margin-top: 2px; flex: 1;}
.mui-search .mui-placeholder{padding-left: 10px; line-height: 35px; text-align: left;}
.mui-search .mui-placeholder .mui-icon{margin-right: 5px;}
.mui-search input[type=search]{background: #fff;}
.titleText{padding: 0 5px; line-height: 44px;}

.mui-bar-nav~.mui-content{padding-top: 0;}
.mui-content{width: 100%; height: 100%; position: relative;}
.searchHead{width: 100%; padding: 5px 15px 0 15px; background: #fff; display: flex; justify-content: space-between;}
.searchHead > span{line-height: 30px;}
.searchHead > span.mui-icon{font-size: 20px;}
.shBox{width: 100%; padding: 10px; padding-top: 0; font-size: 0; background: #fff;}
.shBox > a{padding: 0 10px; margin: 4px; line-height: 30px; color: #333; font-size: 14px; background: #f3f3f3; border-radius: 3px; display: inline-block;}
.shBox > a:active{filter: brightness(0.95);}

.searchHistory{margin-top: 10px;}
.searchHistory .mui-table-view-cell{padding: 11px 15px; color: #777;}
.searchHistory .mui-table-view:before{content: none;}