<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../css/common/mui.min.css" rel="stylesheet" />
		<link href="../../../css/common/mui.picker.min.css" rel="stylesheet" />
		<link href="../../../css/common/mui.poppicker.css" rel="stylesheet" />
		<link href="../../../css/common/mui-show-loading.css" rel="stylesheet" />
		<link href="../../../css/common/common.css" rel="stylesheet" />
		<link href="../../../css/common/common-ex.css" rel="stylesheet" />
		<link href="cxyb.css" rel="stylesheet" />
	</head>

	<body> 
		<header class="mui-bar mui-bar-nav ex-title-bar">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<button id="saveBtn" type="button" class="mui-btn mui-btn-link mui-pull-right"></button>
			<h1 class="mui-title">城乡居民医保</h1>
		</header>
		
		<div id="app">
			<div class="mui-content" >
				<div class="mui-scroll-wrapper">
					<div id="scrollin " class="mui-scroll">
						<template v-for="(item,index) in cxjgGrid">
						<div class="mui-card mui_card_box">
							<form class="mui-input-group">
								<div class="mui-input-row mui-checkbox mui-right ry">
									<label>
										<div class="paylineBox">
											<div class="payLine">
												<span class="plName">社保机构</span>
												<span class="plInfo">{{item.jbjg}}</span>
											</div>
											<div class="payLine">
												<span class="plName">社保号</span>
												<span class="plInfo">{{item.sbh}}</span>
											</div> 
										</div>
									</label>
									<input name="checkbox" :value="item" v-model="checkCxjgGrid" type="checkbox" > 
								</div>
							</form>
							<!-- <div class="footer_div" @tap="getCxjmHd(item.sbh,item.jbjg_dm)">
								<div class="footer_div_title">提取核定</span>
								<div class="footer_div_value">
									<span class="mui-icon mui-icon-arrowright"></span>
								</div>
							</div> -->
						</div>
						</template>
					</div>
					<div class="submitBtn">
						<button type="button" class="mui-btn mui-btn-block mui-btn-primary" @tap="getCxjmHd()" >提取核定</button>
					</div>
					
					<!-- loading加载和蒙版 -->
					<div class="mui_popover_loading" hidden>
						<div class="mui_popover_loading_img">
							<img src="../../../img/common/loading.jpg" >
						</div>
						<div class="mui_popover_loading_title">核定中...</div>
					</div>
					<div class="mask" hidden>
						
					</div>
				
				</div>
		    </div>
	    </div>
		
		<script src="../../../js/common/jquery-1.11.1.min.js"></script>
		<script src="../../../js/common/mui.min.js"></script>
		<script src="../../../js/common/mui.picker.min.js"></script>
		<script src="../../../js/common/mui.poppicker.js"></script>
		<script src="../../../js/common/mui.showLoading.js"></script>
		<script src="../../../js/common/baseUtils.js"></script>
		<script src="../../../js/common/crypto-js-aes-min.js"></script>
		<script src="../../../js/common/common.js"></script>
		<script src="../../../js/common/vue.min.js"></script>
		<script src="./cxyb.js"></script>
		<script type="text/javascript">
			var vm = new Vue({
				el: '#app',
				data(){
					return{
						cxjgGrid:[],
						checkCxjgGrid:[]
					}
				}
			})
			
			mui.init();
			
			mui('.mui-scroll-wrapper').scroll({
				scrollY: true, //是否竖向滚动
				scrollX: false, //是否横向滚动
				startX: 0, //初始化时滚动至x
				startY: 0, //初始化时滚动至y
				indicators: true, //是否显示滚动条
				deceleration:0.0006, //阻尼系数,系数越小滑动越灵敏
				bounce: true //是否启用回弹
			});
			
			mui.plusReady(function() {
				var webview = plus.webview.currentWebview();
				
				//设置沉浸式
				//获取状态栏的高度
				var statusbarHeight = plus.navigator.getStatusbarHeight()
				console.log("statusbarHeight>>"+statusbarHeight)
				//header高度
				var headerHeight = $("header").height()
				console.log("headerHeight>>"+headerHeight)
				//header paddingTop高度
				$("header").css("paddingTop",statusbarHeight+"px")
				$("header").css("height",statusbarHeight+headerHeight)
				//预留高度
				var preHeight = 0
				var allHeight = headerHeight+preHeight
				//body paddingTop高度
				$("body").css("paddingTop",allHeight+"px")
				
				pageUtils.back()
			});
			pageload(vm)
		</script>
	</body>
</html>
