.mui-bar-nav ~ .mui-content{
	padding-top: 0px;
}

.login .mui-table-view-cell > a:not(.mui-btn){
	margin:6px -15px;
}
.mui-content > .mui-table-view:first-child{
	margin-top: 0px;
	height: 80px;
}
.mui-content .title{
	margin-top: 10px;
}
.mui-table-view-cell .mui-navigate-right .icon{
	width: 28px;
	height: 28px;
}
.mui-content .mui-table-view-cell span{
	font-size: 16px;
	margin-left: 10px;
	position: absolute;
	top:17px;
}
.mui-content .login span{
	font-size: 25px;
}
.mui-content .login .icon{
	/* font-size: 25px; */
}

